In [105]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [4]:
tbl0.shape[0]

40

In [26]:

tbl0["_c1"].value_counts().sort_index()

A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [28]:
tbl0.groupby("_c1").mean()["_c2"]

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [29]:
tbl0.groupby("_c1").max()["_c2"]

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [41]:
sorted(tbl1["_c4"].str.upper().unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [43]:
tbl0.groupby("_c1").sum()["_c2"]

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [252]:
tbl01 = tbl0.copy()
tbl01['suma'] = tbl01.sum(axis=1)
tbl01 = tbl01.reset_index(drop=True)
tbl01

C:\Users\user\AppData\Local\Temp\ipykernel_14120\3720839237.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tbl01['suma'] = tbl01.sum(axis=1)

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28     1
1     1   A    2  1999-10-28     3
2     2   B    5  1998-05-02     7
3     3   A    3  1999-08-28     6
4     4   C    6  1999-12-01    10
5     5   A    7  1998-07-28    12
6     6   A    9  1997-02-28    15
7     7   B    1  1999-05-10     8
8     8   E    2  1997-04-12    10
9     9   B    3  1999-11-23    12
10   10   C    7  1998-01-17    17
11   11   C    5  1998-12-28    16
12   12   D    3  1999-10-15    15
13   13   E    8  1998-11-01    21
14   14   B    9  1999-08-12    23
15   15   D    1  1997-12-01    16
16   16   E    3  1997-07-28    19
17   17   D    5  1998-08-12    22
18   18   E    8  1999-08-24    26
19   19   E    9  1998-01-23    28
20   20   E    7  1999-06-22    27
21   21   E    3  1999-04-24    24
22   22   D    5  1999-06-25    27
23   23   A    1  1999-08-25    24
24   24   E    4  1997-07-26    28
25   25   E    6  1997-09-24    31
26   26   A    8  1997-09-28    34
27   27   E    5  1999-06-22    32
28   28   A    6  1999-07-29    34
29   29   C    0  1999-08-22    29
30   30   A    1  1998-04-26    31
31   31   D    2  1998-02-24    33
32   32   E    5  1999-03-24    37
33   33   B    4  1998-03-23    37
34   34   B    6  1999-04-21    40
35   35   D    7  1999-02-29    42
36   36   B    8  1997-05-21    44
37   37   C    9  1997-07-22    46
38   38   E    1  1999-09-28    39
39   39   E    5  1998-01-26    44

In [240]:
tbl02 = tbl0.copy()
tbl02["year"]=tbl02["_c3"].str.split("-", expand=True)[0]
tbl02

    _c0 _c1  _c2         _c3  year
0     0   E    1  1999-02-28  1999
1     1   A    2  1999-10-28  1999
2     2   B    5  1998-05-02  1998
3     3   A    3  1999-08-28  1999
4     4   C    6  1999-12-01  1999
5     5   A    7  1998-07-28  1998
6     6   A    9  1997-02-28  1997
7     7   B    1  1999-05-10  1999
8     8   E    2  1997-04-12  1997
9     9   B    3  1999-11-23  1999
10   10   C    7  1998-01-17  1998
11   11   C    5  1998-12-28  1998
12   12   D    3  1999-10-15  1999
13   13   E    8  1998-11-01  1998
14   14   B    9  1999-08-12  1999
15   15   D    1  1997-12-01  1997
16   16   E    3  1997-07-28  1997
17   17   D    5  1998-08-12  1998
18   18   E    8  1999-08-24  1999
19   19   E    9  1998-01-23  1998
20   20   E    7  1999-06-22  1999
21   21   E    3  1999-04-24  1999
22   22   D    5  1999-06-25  1999
23   23   A    1  1999-08-25  1999
24   24   E    4  1997-07-26  1997
25   25   E    6  1997-09-24  1997
26   26   A    8  1997-09-28  1997
27   27   E    5  1999-06-22  1999
28   28   A    6  1999-07-29  1999
29   29   C    0  1999-08-22  1999
30   30   A    1  1998-04-26  1998
31   31   D    2  1998-02-24  1998
32   32   E    5  1999-03-24  1999
33   33   B    4  1998-03-23  1998
34   34   B    6  1999-04-21  1999
35   35   D    7  1999-02-29  1999
36   36   B    8  1997-05-21  1997
37   37   C    9  1997-07-22  1997
38   38   E    1  1999-09-28  1999
39   39   E    5  1998-01-26  1998

In [253]:
tbl03 = tbl0.copy()
tbl03["_c2"]=tbl03["_c2"].apply(str)
tbl03['_c2'] = tbl03.groupby(['_c1'])['_c2'].transform(lambda x : ''.join(x))
tbl03 = tbl03[["_c1", "_c2"]].drop_duplicates()
tbl03["_c2"] = tbl03["_c2"].apply(sorted)
tbl03["_c2"] = tbl03["_c2"].apply(lambda x : ':'.join(x))
tbl03=tbl03.sort_values("_c1")
tbl03.reset_index(drop=True)

  _c1                          _c2
0   A              1:1:2:3:6:7:8:9
1   B                1:3:4:5:6:8:9
2   C                    0:5:6:7:9
3   D                  1:2:3:5:5:7
4   E  1:1:2:3:3:4:5:5:5:6:7:8:8:9